@import url(sheet_anim.css);
@import url(sheet_homebtn.css);
@import url(sheet_load.css);
@import url(sheet_main.css);
@import url(sheet_body.css);
@import url(sheet_heading.css);
@import url(sheet_list.css);
@import url(sheet_anchor.css);

.loadingdiv{
	margin:0;
	padding: 0;
	text-align: center;
}
.loadingdiv .to{
	margin-top: -5%;
}
.loadingdiv .webuntu{
	margin-top: -5%;
}
ul{
	list-style-type: none;
	text-align: center;
	margin-top: 100px;
	border: 3px double orange;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	margin-left: 0px;
}
h1{
	margin-top: 0px;
}
li{
	font-size: 26px;
	letter-spacing: 13px;
	word-spacing: 10px;
	font-style: italic;
	font-weight: bold;
	//justify-content: center;
	margin-top: 25px;
	margin-bottom: 35px;
	border: 3px double #FF9666;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}
