@import url(sheet_anim.css);
@import url(sheet_main.css);
@import url(sheet_body.css);
@import url(sheet_heading.css);
@import url(sheet_list.css);
@import url(sheet_anchor.css);

.loadingdiv{
	margin:0;
	padding: 0;
	text-align: center;
}
.loadingdiv .to{
	margin-top: -5%;
}
.loadingdiv .webuntu{
	margin-top: -5%;
}
ul{
	list-style-type: none;
	//margin-left: 36%;
	text-align: center;
}
