/*!!!Animation!!!*/
@import url(Animation_span.css);
@import url(sheet01.css);

/*!!!Logo!!!*/
#logo #img{
	position: absolute;

}
/*!!!Header List ul!!!*/
.header #header_bar{
	margin-top: 0px;
	float: right;
	list-style-type: none;
}
/*!!!Header List li*/
.header #header_bar li{
	margin-top: 19px;
	display: inline-block;
}
/*!!!Home Link in Header!!!*/
.header ul li#home a{
	background-color: firebrick;
	color: #ffffff;
}
/*!!!Links in Header!!!*/
.header #header_bar li a{
	border: 1px outset transparent;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}
/*!!!All Links!!!*/
a:link {
	color: #FB6542;
	text-decoration: none;
}
a:visited {
	color: seagreen;
}
a:hover {
	transition: 0.6s ease;
	background-color: firebrick;
	color: #ffffff;
	text-decoration: underline;
}
a:active {
	color: darkcyan;
}
/*Time in Header!!!*/
.header #tym{
	text-align: center;
	color: firebrick;
	font-size: 30px;
	margin-top: 0px;
	margin-top: 0px;
}
/*!!!Next Node!!!*/
.header #tym p{
	color: chocolate;
	font-size: 30px; 	
	margin-top: 2px;
}
h4{
	margin-left: 30px;
}
/*
.mostViewed{
	 border: 1px outset #F70025;
	 border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}*/

.operations{
	background-color: #191919;
}
.operations ul{
	margin: 3%;
	font-size: 40px;
}

/*.operations ul li.software{
	display: inline-block;
	transform: translate(27%,270%);
}
.operations ul li.fun{
	text-align: center;
	margin-top: 3%;
	transform: translate(-6%,-100%);
}
.operations ul li.admin_op{
	text-align: left;
	margin-top: 3%;
	transform: translate(0%,0%);
}
.operations ul li.simple{
	display: inline-block;
	transform: translate(0%,0%);
}
.operations ul li.storage{
	display: inline-block;
	text-align: right;
	transform: translate(132%,-100%);
}*/

/*!!Terminal!!!*/
.terminal{
	font-size: 40px;
	 border: 1px outset #323232;
	 border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	text-align: center;
}

/*!!!Footer List i.e; Contact us!!!*/
.footer ul{
	margin-top: 0px;
	float: right;
	list-style-type: none;
}
.footer ul li{
	margin-top: 19px;
	display: inline-block;
}
.footer ul.social_logo li a{
	background-color: #ffffff;
	color: #ffffff;
}
.footer ul.social_logo li#git{
	transform: translate(-427%,0%);
}
.footer ul.social_logo li#linkedin{
	transform: translate(-375%,0%);
}
.footer ul.social_logo li#twitter{
	transform: translate(-323%,0%);
}
.footer ul.social_logo li#google{
	transform: translate(-285%,0%);
}
.footer ul.social_logo li#wa{
	transform: translate(-200%,0%);
}
.footer ul.social_logo li#fb{
	transform: translate(-127%,0%);
}
.footer ul.social_logo li#insta{
	transform: translate(-43%,0%);
}
.footer ul.social li{
	transform: translate(0%,0%);
}
