*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('fonts/chunkfive.eot');
}
body{
	font-family: ChunkFiveRegular, Georgia, serif;
	font-size: 130%;
	padding: 10px;
	border: 3px double #34675C;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	background-color: #003B46;
	//color: #E4EA8C;
	text-decoration: none;
	font-style: italic;
	text-align: left;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("backgrounds/604372-free-ubuntu-dark-wallpaper-2832x2124-xiaomi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-indent: 20px;
}
h1#heading{
	margin-top: 0;
	font-style: underline;
	/*border: 1px dotted #CB0000;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;*/
	color: #ffffff;
	padding: 1px;
	//opacity: 0.5;
	//font-weight: bold;
	font-style: italic;
	text-align: center;
}
#logo #img{
	position: absolute;


}
.header #header_bar{
	margin-top: 0px;
	float: right;
	list-style-type: none;
}
.header #header_bar li{
	margin-top: 0px;
	display: inline-block;
}
a:link {
	color: firebrick;
	text-decoration: none;
}
a:visited {
	color: #FB6542;
}
a:hover {
	color: orange;
	text-decoration: underline;
}
a:active {
	color: darkcyan;
}

.header #tym{
	text-align: center;
}