@import url(sheet_anim.css);
@import url(sheet_main.css);
@import url(sheet_body.css);
@import url(sheet_anchor.css);
//@import url(sheet_list.css);
@import url(sheet_input.css);

/*!!!Logo!!!*/
#logo #img{
	position: absolute;
	margin-left: 60px;
}
/*!!!Header List ul!!!*/
.header #header_bar{
	margin-top: 0px;
	float: right;
	list-style-type: none;
}
ul{
	list-style-type: none;
}

/*!!!Header List li*/
.header #header_bar li{
	margin-top: 0px;
	margin-left: 10px;
	display: inline-block;
}
/*!!!Home Link in Header!!!*/
.header ul li#home a{
	background-color: firebrick;
	color: #ffffff;
}
/*!!!Links in Header!!!*/
.header #header_bar li a{
	border: 1px outset transparent;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}
/*Time in Header!!!*/
.header #tym{
	text-align: center;
	color: firebrick;
	font-size: 30px;
	margin-top: 0px;
	margin-top: 0px;
}
/*!!!Next Node!!!*/
.header #tym p{
	color: chocolate;
	font-size: 30px; 	
	margin-top: 2px;
}

.header nav{
	margin-top: 8%;
	color: orange;
	font-size: 70px;
	padding: 1px;
	opacity: 0.8;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	text-decoration: underline;
	//background-color: #fff;
}
.header nav a{
	color: orange;

}

h4{
	color: #fff;
	margin-left: 30px;
}

/*
.mostViewed{
	 border: 1px outset #F70025;
	 border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
}*/

.operations{
	background-color: #191919;
}
.operations ul{
	margin: 3%;
	font-size: 40px;
}

/*!!Terminal!!!*/
.terminal{
	font-size: 40px;
	 border: 1px outset #323232;
	 border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	text-align: center;
}

.footer h1{
	margin-top: 4%;
	color: #000011;
}

/*!!!Footer List i.e; Contact us!!!*/
.footer ul.social_logo{
	margin-top: 0px;
	float: right;
	list-style-type: none;
	color: #ED5752;
}
.footer ul.social{
	float: right;
}

.footer ul li{
	margin-top: 19px;
	display: inline-block;
}
.footer ul.social_logo li a{
	background-color: #ffffff;
	color: #ffffff;
}
.footer ul.social_logo li#git{
	transform: translate(0%,0%);
}
.footer ul.social_logo li#linkedin{
	transform: translate(-925%,-150%);
}
.footer ul.social_logo li#twitter{
	transform: translate(-323%,-150%);
}
.footer ul.social_logo li#google{
	transform: translate(-285%,-150%);
}
.footer ul.social_logo li#wa{
	transform: translate(-200%,-150%);
}
.footer ul.social_logo li#fb{
	transform: translate(-127%,-150%);
}
.footer ul.social_logo li#insta{
	transform: translate(-43%,-150%);
}
/*.footer ul.social li#git{
	transform: translate(230%,-100%);
}
.footer ul.social li#linkedin{
	transform: translate(0%,0%);
}
.footer ul.social li#twitter{
	transform: translate(0%,0%);
}
.footer ul.social li#g{
	transform: translate(0%,0%);
}
.footer ul.social li#wa{
	transform: translate(0%,0%);
}
.footer ul.social li#fb{
	transform: translate(0%,0%);
}
.footer ul.social li#insta{
	transform: translate(0%,0%);
}*/

textarea{
	margin-left: 100px;
	color: #fff;
	background-color: #191919;
	text-align: left;
	letter-spacing: 2px;
	font-style: italic;
	font-size: 20px;
}
button{
	background-color: #000;
	color: orange;
	border-color: #fff;
	font-size: 26px;
	display: inline-block;
	transform: translate(800%,-110%);
	
}