/*!!!Loading animation!!!*/

#content{
	width: 100%;
	height: 100%;
	/*background: url("backgrounds/2xQILY.jpg") no-repeat;
	background-size: cover;*/
}

#load{
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #000 url("logos/load/171.gif") 50%;
	background-repeat: no-repeat;
	background-position: center;
}
#load .loadingdiv{
text-align: center;
margin-top: 300px;
}