body{
	max-width: 1200px;
	margin: auto;
	font-family: ChunkFiveRegular, Georgia, serif;
	font-size: 130%;
	padding: 10px;
	border: 3px double #34675C;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	background-color: #003B46;
	//color: #E4EA8C;
	text-decoration: none;
	font-style: italic;
	text-align: left;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("backgrounds/604372-free-ubuntu-dark-wallpaper-2832x2124-xiaomi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}