@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('fonts/chunkfive.eot');
}

*{
	margin: 0px;
	padding: 0;
}

body{
	max-width: 1200px;
	margin: auto;
	font-family: ChunkFiveRegular, Georgia, serif;
	font-size: 130%;
	padding: 10px;
	border: 3px double #34675C;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	background-color: #003B46;
	//color: #E4EA8C;
	text-decoration: none;
	font-style: italic;
	text-align: left;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("backgrounds/604372-free-ubuntu-dark-wallpaper-2832x2124-xiaomi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*!!!All Links!!!*/
a:link {
	color: #FB6542;
	text-decoration: none;
}
a:visited {
	color: seagreen;
}
a:hover {
	transition: 0.6s ease;
	background-color: firebrick;
	color: #ffffff;
	text-decoration: underline;
}
a:active {
	color: darkcyan;
}

h1{
	margin-top: 8%;
	color: firebrick;
	padding: 1px;
	opacity: 0.8;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	text-decoration: underline;
	//background-color: #fff;
}
h3{
	color: #AF2438;
	border: 1px inset #F25C00;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	padding: 10px;
	text-align: center;
	//visibility: hidden;
	text-decoration-color: #191919;
	text-decoration-style: initial;
}

h4{
	color: #fff;
	
}

ul{
	margin-left: 10%;
	//border: 1px outset #F70025;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	padding: 50px;
	color: #ED5752;
	//min-height: 20px;
	//max-height: 150px;
	//overflow: scroll;
	
}

input {
	padding: 6px 12px 6px 12px;
	border: 3px solid #665544;
	color: #191919;
	width: 440px;
}
input.submit:hover {
	background-color: #665544;
	align-self: center;
	margin-left: 45%;
}
input.submit:active {
	background-color: chocolate;
}
input.text {
	color: #cccccc;
}
input.text:focus {
	color: #665544;
}

input {
	font-size: 120%;
	color: #5a5854;
	background-color: #f2f2f2;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 5px 5px 30px;
	background-repeat: no-repeat;
	background-position: 8px 9px;
	display: block;
	margin-bottom: 10px;
}
input:focus {
	background-color: #ffffff;
	border: 1px solid #b1e1e4;
}
input#email {
	background-image: url("images/email.png");
}
input#twitter {
	background-image: url("images/twitter.png");
}
input#web {
	background-image: url("images/web.png");
}
input#submit {
	color: #444444;
	text-shadow: 0px 1px 1px #ffffff;
	border-bottom: 2px solid #b2b2b2;
	background-color: #b9e4e3;
	background: -webkit-gradient(linear, left top,
			 left bottom, from(#beeae9), to(#a8cfce));
	background:
			 -moz-linear-gradient(top, #beeae9, #a8cfce);
	background:
			 -o-linear-gradient(top, #beeae9, #a8cfce);
	background:
			 -ms-linear-gradient(top, #beeae9, #a8cfce);
}
input#submit:hover {
	color: #333333;
	border: 1px solid #a4a4a4;
	border-top: 2px solid #b2b2b2;
	background-color: #a0dbc4;
	background: -webkit-gradient(linear, left top,
			 left bottom, from(#a8cfce), to(#beeae9));
	background:
			 -moz-linear-gradient(top, #a8cfce, #beeae9);
	background:
			 -o-linear-gradient(top, #a8cfce, #beeae9);
	background:
			 -ms-linear-gradient(top, #a8cfce, #beeae9);
}
blockquote {
	 float: right;
	 width: 275px;
	 font-size: 130%;
	 font-style: italic;
	 font-family: Georgia, Times, serif;
	 margin: 0px 0px 10px 10px;
	 padding: 10px;
	 border-top: 1px solid #665544;
	 border-bottom: 1px solid #665544;
}